html, body {
    height: 100%;
    width: 100%;
}

body {
    transition: 500ms background-color ease-in-out;
}

header {
    padding-top: 48px;
    text-align: center;
}

.panel {
    border: 0;
}

.panel-heading {
    height: 96px;
}

.panel-body {
    padding: 4px;
}

.panel-body h4 {
    text-transform: capitalize;
}