html, body {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 50px;
    transition: 500ms background-color ease-in-out;
}

header {
    padding-top: 48px;
    text-align: center;
}

.panel {
    border: 0;
}

.panel-heading {
    height: 96px;
}

.panel-body {
    padding: 4px;
    border: 1px solid #eee;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.panel-body h4 {
    text-transform: capitalize;
}

h2 {
    text-transform: capitalize;
}

github {
    display: block;
    position: fixed;
    top: 0px;
    right: 0;
}

color-chip {
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

color-chip:hover {
    transform: scale(1.1);
}

color-chip div.color-tooltip {
    border: 2px solid rgba(0, 0, 0, 0.4);
    color: #000;
    border-radius: 6px;
    font-weight: 400;
    display: inline-block;
    padding: 4px 8px;
    opacity: 0;
    transition: opacity 200ms ease-in;
}

color-chip:hover div.color-tooltip {
    opacity: 1;
}

color-chip div.color-tooltip.inverse {
    border-color: rgba(255, 255, 255, 0.4);
    color: #FFF;
}

color-chip div.color-tooltip > i {

}

color-chip div.color-tooltip > span {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 0;
    overflow: hidden;
    transition: all 250ms ease-in-out;
}

color-chip:hover div.color-tooltip > span {
    width: 48px;
    padding-left: 8px;
}

color-chip h5 {
    text-transform: uppercase;
}

palette-chip {
    cursor: pointer;
}

palette-chip {
    transition: all 250ms ease-in-out;
}

palette-chip:hover {
    transform: scale(1.1);
}


palette-chip .panel-heading {
    transition: all 250ms ease-in-out;
}

div.color-menu {
    position: fixed;
    top: 24px;
    left: 24px;
    font-size: x-large;
}

section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 50px;
}

section.ng-enter, section.ng-enter {
    transition: all 500ms ease-in;
    opacity: 0;
    transform: scale(0);
}

section.ng-enter-active, section.ng-enter-active {
    opacity: 1;
    transform: scale(1);
}

section.ng-leave {
    transition: all 500ms ease-in;
}

section.ng-leave-active {
    opacity: 0;
    transform: scale(2.5);
}

div.color-menu {
    transition: 250ms all ease-in-out;
}