@import "../../node_modules/bootstrap/less/bootstrap.less";

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

aside {
  background-color: @brand-danger;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 33.33%;
}

aside > footer {
  bottom: 0;
  left: 0;
  position: absolute;
}

section {
  height: 100%;
  left: 33.33%;
  margin: 0;
}

.color-chip {
  height: 25%;
  padding: 12px;
}

.color-chip > p {
  bottom: 0;
  left: 0;
  margin-left: 10px;
  position: absolute;
}

.text-inv {
  color: #FFF;
}
