@import "../../node_modules/bootstrap/less/bootstrap.less";

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

section {
  height: 100%;
  margin: 0;
}

.color-chip {
  height: 25%;
  padding: 12px;
}

.color-chip > div {
  bottom: 0;
  left: 0;
  margin-left: 10px;
  position: absolute;
}

#toaster {
    height: 100%;
	position: fixed;
	left: 0;
    top: 0;
	visibility: hidden;
    width: 100%;
    z-index: 100;
}

#toaster.show {
    visibility: visible;
}

#toast text {
    font-size: 8px;
    text-anchor: middle;
}
