@import "../../node_modules/bootstrap/less/bootstrap.less";

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

aside {
  background-color: @brand-danger;
  height: 100%;
  position: fixed;
}

section {
  height: 100%;
  margin: 0;
}

.color-chip {
  height: 25%;
}
